{% extends 'base.html.twig' %}

{% block body %}
    <h1>Invoice list</h1>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Invoice Number</th>
                <th>Address</th>
                <th>Date</th>
                <th>Products</th>                
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td><a href="{{ path('invoice_show', { 'id': invoice.id }) }}">{{ invoice.id }}</a></td>
                <td>{{ invoice.number }}</td>
                <td>{{ invoice.address }}</td>
                <td>{% if invoice.date %}{{ invoice.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <a href="{{ path('invoice_show', { 'id': invoice.id }) }}">{{ invoice.products.count }} Products</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('invoice_new') }}" class="btn btn-info">Create Invoice</a>

{% endblock %}
